 {% extends 'playground/base.html'%}
 {% block content %}

 <div class="container">
    <h1 class="mt-4 mb-4">Personnages</h1>

    <div class="row">
        {% for character in characters %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ character.photo }}" height=" 300px" alt="Photo du personnage">
                    <div class="card-body">
                        <a class="card-title" href="{% url 'character_detail' id_character=character.id_character %}">{{ character.id_character }}</a>
                        <p class="card-text">État: {{ character.etat }}</p>
                        <p class="card-text">Race: {{ character.race }}</p>
                        <p class="card-text">Lieu: {{ character.lieu }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div class="container">
    <h1 class="mt-4 mb-4">Équipements</h1>

    <div class="row">
        {% for equipement in equipements %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ equipement.photo }}" height=" 300px" alt="Photo de {{ equipement.id_equip}}">
                    <div class="card-body">
                        <a class="card-title">{{equipement.id_equip}}</a>
                        <p class="card-text">Disponibilité: {{equipement.disponibilite}}</p>
            
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
        

{% endblock %}